body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
    padding: 30px;
  }
  
  .container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  #resultContainer {
    margin-top: 20px;
    text-align: left;
  }
.intro{
    display: grid;
    grid-template-columns: auto auto ;
    
    
}  
.intro p{
text-align: left;
    font-weight: bold;
}
