*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: rgb(5, 5, 100);
}
.app{
    width: 90%;
    max-width: 600px;
    background: #fff;
    margin: 100px auto 0;
    padding: 22px;
}
.app h1{
    color:rgb(5, 5, 100); 
    margin: 22px;
    text-align: center;
    border-bottom: 1px solid rgb(5, 5, 100);
}
.quiz{
    font-size: 12px;
    color: rgb(5, 5, 100); 
    margin-top: 50px;
}
#answer-btn{
    margin: 10px auto 0;

}
.btn{
  width: 100%;
  text-align: left;
  padding: 22px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.32s;
  color: black;
  border: 2px solid black;
}
.btn:hover:not([disabled]){
    background-color: black;
    color: white;
    
}
.btn:disabled{
    cursor: no-drop;
}

#next-btn{
 margin: 22px auto 0px;
 display: none;
 background-color: rgb(5, 5, 100);
 color: white;
 padding: 22px;
 width: 122px;
 border: none;
 border-radius: 22px;
 font-size: 15px;
 font-weight: 600;
}
.correct{
    background-color: rgb(133, 225, 133);
}
.incorrect{
    background-color: rgb(242, 128, 128);
}