
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(38, 35,92);
}
body{
background: linear-gradient(to bottom right, #adad29, #2a27baab); 
}
.card{
    box-shadow:0px 0px 12px  8px rgb(105, 104, 114) ;
    background-color: rgb(229, 228, 228);
padding: 23px;
    border-radius: 23px;
    width: 90%;
   max-width:300px;
    border: 5px solid rgb(38, 35,92);
    margin:10vh auto ;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pp{
    border: 5px solid rgb(38, 35,92);
    border-radius: 50%;
    margin: 22px;
    height: 130px;
    width: 130px;
}
.name{
margin: 4px;
}
h4{
    margin: 4px;
}
.dec{
    margin: 4px;
    text-align: center;
    line-height: 1.5;
}
.email{
    margin: 4px;
    border: 2px solid rgb(38, 35,92);
    color: white;
    padding: 5px;
    border-radius: 6px;
    background-color: rgb(38, 35,92);
}
.email:hover{
    color: rgb(200, 193, 8);
}
.links{
    width: 100%;

    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}
.links li a img{
padding: 5px;
width:34px;
height: 34px;
}
.links li:hover{
    
cursor: pointer;
    border-radius: 2px;
background-color: rgb(200, 193, 8);

}