* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    color: white;
}

.flex {
    display: flex;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100vw;

    background-color: #ffff;
}

.header {

    height: 46.4vw;
    width: 100vw;

    background-image: url("ass/BG.png");
    background-size: 100vw;
    background-repeat: no-repeat;


}

.navbar {
    margin: 0vw 4vw;
    padding-top: 0.9vw;
    align-items: center;
    justify-content: space-between;
}

.icon {
    flex: 1;
}

.icon img {
    width: 7vw;
    height: 7vw;
}

.list {
    flex: 3;
}

.list .topnav {
    display: flex;
    list-style: none;
    gap: 1.34vw;
    align-items: center;
}

.list .topnav img {
    width: 0.5vw;
    height: 0.6vw;
    border-radius: 50%;
}

.list .topnav li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.1vw;
}

.list .topnav li a:hover {

    color: black;

}

.list {
    justify-content: space-between;
}

.navbar div .a {
    font-size: 5vw;
    text-decoration: none;
    display: none;

}

.responsive {
    display: none;
    background-color: rgb(0, 0, 0);
    list-style: none;

}

.responsive img {
    display: none;

}

.responsive li a {
    width: 100%;
    padding: 1vw;
    border-radius: 1vw;
    text-decoration: none;
    color: rgb(8, 200, 225);
    font-size: 3vw;
    font-weight: 600;

}

.responsive li a:hover {
    background-color: rgb(255, 255, 255);

}

.list .responsive li a button {
    font-size: 3vw;
    font-weight: 600;

    border-radius: 1vw;
}

.list .responsive li a button:hover {
    background-color: black;
    color: white;
}

.list ul li a button {
    border: 0.2vw solid black;
    color: black;
    background-color: transparent;
    padding: 0.7vw;
    text-align: center;
    border-radius: 0.9vw;
    font-weight: 600;
    font-size: 1.1vw;
}

.list ul li button:hover {
    background-color: black;
    color: white;
}

.no {
    align-items: center;

    justify-content: right;
}

.no img {
    width: 1.6vw;
    height: 1.6vw;
}

.no p {
    color: white;
    font-size: 1.1vw;
    font-weight: 600;

}

.no p:hover {
    color: black;
}

.intro {

    margin: 2.35vw 0vw 0vw 22.73vw;
    width: 34vw;
}

.intro .p1 {
    transform: translateY(100%);
    animation: slideUp 0.1s ease-out forwards;

    color: black;
    font-size: 0.8vw;
    font-weight: 600;
    align-items: center;
    gap: 0.34vw;
}

.intro .p1 img {
    width: 0.40vw;
    height: 0.40vw;
}

.intro .p2 {
    width: 26vw;
    transform: translateY(100%);
    animation: slideUp 0.2s ease-out forwards;
    font-size: 3vw;
    font-weight: 800;
    padding: 0.67vw 0vw;
}

.intro .p3 {
    transform: translateY(100%);
    animation: slideUp 0.3s ease-out forwards;
    font-size: 1.07vw;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);

}

.intro .learnmore {
    transform: translateY(100%);
    animation: slideUp 0.4s ease-out forwards;
    font-size: 1vw;
    background-color: black;
    padding: 1vw 1.5vw;
    border: 3px solid black;
    border-radius: 1.703vw;
    margin: 1.47vw 0vw;
}

.intro .learnmore:hover {
    color: black;
    background-color: transparent;

}

@keyframes slideUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.landing img {
    width: 43.23vw;
    height: 38vw;
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(10%);
        opacity: 1;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.main {
    position: relative;

    margin-top: 3.7vw;
}

.floating {
    position: absolute;
    top: 40vw;
    right: 3vw;
    z-index: 1;
}

.main .part1 {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .part1 .img1 {
    width: 1.1vw;
    margin: auto;

}

.main .part1 .p-one {
    margin: 1vw;
    background-image: url("ass/MediPals\ Gets\ You\ There\,\ faster.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    padding: 0.1vw 0vw 0vw 1.5vw;

    color: black;
    font-weight: 600;
    font-size: 2.61vw;
}

.cards {
    gap: 1.5vw;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
    border: 2px solid rgba(47, 21, 135, 0.06);
    border-radius: 0.80vw;
    width: 18.75vw;
    height: 31.25vw;
    align-items: center;
    box-shadow: 0px 10px 20px 0px rgba(47, 21, 135, 0.06);


}

.card:hover {

    border: 2px solid black;
}

.card img {
    width: 15.3vw;
    height: 16.9vw;
    margin: 1.7vw;
}

.card .p1 {
    font-size: 1.45vw;
    font-weight: 600;
    color: black;
    color: rgba(136, 136, 136, 1);
}

.card .p2 {
    color: rgba(136, 136, 136, 1);
    font-size: 0.83vw;
    font-weight: 400;
    margin: 0vw 1.7vw;
    line-height: 1.41vw;
    padding: 1.47vw 0vw;
    text-align: center;

}

.main .part2 {
    margin: 5vw auto 0vw;
    width: 58.7vw;

    height: 28.54vw;

}

.part2 .img {
    height: 28.54vw;

    width: 31.72vw;
}

.part2 .dec {
    margin: 0vw 0vw 0vw 1vw;
}

.part2 .dec img {
    width: 1.1vw
}

.part2 .dec .p1 {
    background-image: url("ass/Get\ Started\ with\ MediPals.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    background-position: top;
    color: black;
    font-size: 2.6vw;
    line-height: 2.6vw;
    padding-top: 1vw;
    font-weight: 600;
}

.part2 .dec .p2 {
    color: rgba(136, 136, 136, 1);
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 1.6vw;
    padding: 1vw 0vw;

}

.p3-1 {
    align-items: left;

}

.part2 .p3 .p3-1 p {
    margin-top: 1vw;
    color: rgba(136, 136, 136, 1);
    font-weight: 400;
    line-height: 1.42vw;
    font-size: 0.833vw;
}

.part2 .p3 .p3-1 p:hover {
    color: black;
}

.part2 .p3 .p3-1 img {
    margin-top: 1vw;
    width: 1.04vw;
    height: 1.04vw;
    margin-right: 0.26vw;

}

.main .part3 {


    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 61vw;
    background-image: url("ass/Rectangle\ 18.png"), url("ass/BG\ elements.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.part3 .mg {
    margin-top: 25vw;
    width: 1vw;
    height: 0.4vw;
}

.part3 p {
    margin-top: 1vw;
    background-image: url("ass/Experience\ MediPals_\ Your\ Career\ with\ Peers\ \(1\).png");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 2.6vw;
}

.ss {
    margin-top: 3vw;
    justify-content: center;
    align-items: center;
}

.one {
    box-shadow: 0px 10px 20px 0px rgba(48, 21, 135, 0.185);
    width: 12.19vw;
    height: 25.52vw;
}

.one:hover {
    z-index: 6;
    width: 17.18vw;
    height: 37vw;
}

.one-1 {
    position: relative;
    right: -7vw;
    z-index: 1;
}

.two:hover {
    box-shadow: 0px 10px 20px 0px rgba(48, 21, 135, 0.185);
    z-index: 6;
    width: 17.18vw;
    height: 37vw;
}

.two-1 {
    position: relative;
    right: -4vw;
    z-index: 2;
}

.three:hover {
    box-shadow: 0px 10px 20px 0px rgba(48, 21, 135, 0.185);
    z-index: 6;
    width: 17.18vw;
    height: 37vw;
}

.three {
    position: relative;
    z-index: 3;
}

.two-2 {
    position: relative;
    left: -4vw;
    z-index: 2;
}

.one-2 {
    position: relative;
    left: -7vw;
    z-index: 1;
}

.two {
    width: 14.7vw;
    height: 30.7vw;
}

.three {
    width: 17.18vw;
    height: 35.93vw;
}

.part4 {
    margin: 7vw auto;
}

.ready-to-use {
    margin: auto;
    padding: 2vw;

    width: 43vw;
}

.ready-to-use .dot {
    width: 0.83vw;
    height: 0.31vw;
}

.ready-to-use .u-1 {
    background-image: url("ass/Grow\,\ Help\ Others\ Grow\,\ and\ Thrive\ Together.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    font-size: 3.6vw;
    font-weight: 600;
    line-height: 3.6vw;
    padding-top: 1vw;
}

.ready-to-use .u-2 {
    margin-top: 1vw;
    font-size: 1.83vw;
    line-height: 2.4vw;
    font-weight: 400;
    color: rgba(136, 136, 136, 1);

}

.ready-to-use .buttons {
    margin-top: 1vw;
    display: flex;
    gap: 1vw;
}

.buttons button {
    display: flex;
    padding: 0.9vw 1.8vw 0.9vw 1.8vw;
    border-radius: 12vw;
    border: none;
    gap: 1vw;
}

.buttons button img {
    width: 1.25vw;
    height: 1.25vw;
}

.buttons button div .b-1 {
    font-size: 0.520vw;
    line-height: 0.520vw;
    font-weight: 400;
    color: white;
}

.buttons button div .b-2 {

    font-size: 0.73vw;
    font-weight: 500;
    line-height: 1.24vw;
    text-align: left;

}

.blueButton {
    background: rgba(24, 159, 205, 1);

}

.blackbutton {
    background: black;
}

.bpo {
    padding: 2vw;

    width: 15.6vw;
}

.bpo .bpo-1 {
    color: rgba(24, 159, 205, 1);
    font-size: 0.63vw;
    font-weight: 500;
    line-height: 1.04vw;
    letter-spacing: 10%;
}

.bpo .bpo-2 {
    align-items: flex-start;
    color: black;
    font-size: 1.67vw;
    font-weight: 500;
    line-height: 2.8vw;
}

.bpo .bpo-2 .bpo-2-1 {
    font-size: 0.83vw;
    font-weight: 500;
    line-height: 1.4vw;
    color: black;
}

.bpo .divvv .bpo-3 {
    color: rgba(136, 136, 136, 1);

    font-size: 0.83vw;
    font-weight: 400;
    line-height: 1.42vw;

}

.bpo .divvv {
    border-bottom: 2px dotted rgba(84, 55, 178, 0.234);

}

.bpo .ul {
    margin-top: 3vw;
}

.bpo .ul li {
    padding: 0.5vw 0vw;
    line-height: 1.42vw;
    list-style: none;
    font-size: 0.83vw;
    color: rgba(136, 136, 136, 1);

}

.bpo .ul li img {
    margin-right: 1vw;
    width: 0.15vw;
    height: 0.15vw;
}

.part-5 {
    z-index: 2;
    position: relative;
    width: 80.125vw;
    margin: auto;
}

.part-5 .i-m-g-1 {
    width: 0.83vw;
    height: 0.31vw;
}

.part-5 .abar {
    margin-top: 1vw;
    display: flex;
}

.part-5 .abar .about {
    flex: 2;
}

.part-5 .abar .about p {
    padding-top: 0.5vw;
    width: 30vw;
    background-image: url("ass/Your\ Thoughts\ About\ Us.png");
    color: black;
    font-size: 2.60vw;
    font-weight: 600;
    line-height: 2.60vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.part-5 .arrow {
    flex: 1;
    display: flex;
    gap: 1vw;
}

.part-5 .arrow img {
    width: 3.08vw;
    height: 1vw;
}

.part-5 .comment {
    display: flex;
    gap: 3vw;
    background-color: white;
}

.part-5 .comment .comment-1 {
    padding: 2vw;
    flex: 1;
    box-shadow: 0px 10px 20px 0px rgba(48, 21, 135, 0.185);

}

.part-5 .comment .comment-1 .com-img {
    height: 2.6vw;
    width: 2.6vw;
}

.part-5 .comment .comment-1 .p {
    color: rgba(136, 136, 136, 1);
    font-size: 0.83vw;
    font-weight: 400;
    line-height: 1.42vw;
    padding: 1vw 0vw;

}

.part-5 .comment .comment-1 .profile {
    display: flex;
    gap: 1.3vw;
    align-items: center;
}

.part-5 .comment .comment-1 .profile img {
    width: 3.125vw;
    height: 3.125vw;
}

.part-5 .comment .comment-1 .profile span {
    color: black;
    font-size: 0.83vw;
    font-weight: 500
}

.part-6 {
    display: flex;
    position: relative;
    z-index: 1;
    top: -1vw;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 55.42vw;
    background-image: url("ass/bgg.png");
    background-size: contain;

    background-repeat: no-repeat;

}

.part-6 .buttons {
    margin-top: 3vw;
    display: flex;
    gap: 1vw;
}

.part-6 .ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 59.4vw;
    background-repeat: no-repeat;
    background-size: 59.4vw 29.4vw;
    background-position: bottom;
    height: 29.4vw;
    background-image: url("ass/CTA.png");

}

.part-6 .ad .ad-1 img {
    width: 0.83vw;
    height: 0.31vw;
}

.part-6 .ad .ad-1 {
    color: black;
    font-size: 1vw;
    font-weight: 500;
    padding: 1vw;
    line-height: 1.06vw;

}

.ad .ad-2 {
    color: white;
    font-size: 4.2vw;
    width: 40vw;
    font-weight: 800;
    text-align: center;
    line-height: 4.75vw;
}

.ad .ad-2 .ad-2-1 {
    color: black;
}

.ad .ad-3 {
    box-sizing: border-box;
    width: 9.375vw;
    height: 3.125vw;
    padding: 0.83vw;

    border-radius: 1.5vw;
    background-color: black;
    color: white;
    font-size: 0.83vw;
    font-weight: 500;
    line-height: 1.42vw;
}

.part-7 {
    gap: 4vw;
    align-items: center;
    display: flex;
    width: 59.24vw;
    margin: auto;
    justify-content: center;
    margin-bottom: 2vw;
}

.part-7 .vid {
    border: none;

    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-size: contain;
    width: 29vw;
    height: 29vw;
    flex: 1;
    background-repeat: no-repeat;
    background-image: url("ass/Vector\ 3.png");
}

.part-7 .vid .myVideo {
    position: relative;
    width: 30vw;
    height: 30vw;



}

.part-7 .vid .overlay {
    background-image: url("ass/Ellipse\ 11.png");
    position: absolute;
    top: -0.47vw;
    left: -0.93vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vw;


}



.play-button img {

    position: relative;
    width: 5.2vw;
    height: 5.2vw;
    z-index: 2;
}


.part-7 .faq {
    flex: 1;
    width: 28.9vw;

}

.faq img {
    width: 0.83vw;
    height: 0.31vw;
}

.faq .faq-1 {
    padding-top: 0.5vw;
    margin: 0.5vw 0vw;
    background-image: url("ass/Frequently\ Asked\ Questions.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    font-size: 2.6vw;
    font-weight: 600;
    line-height: 2.6svw;
    text-align: left;

}

.faq .faq-2 {
    padding: 1.5vw 0vw;
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 1.375vw;
    text-align: left;
    color: black;

}

.faq .faq-4 .faq-3 {
    display: none;
    padding: 1vw;
    color: rgba(136, 136, 136, 1);

    border-bottom: 0.1vw dashed orange;
    font-size: 1.9vw;
    font-weight: 400;
    text-align: left;

}

.faq4 {
    border-bottom: 0.05vw dashed rgba(55, 82, 178, 0.474);

    padding: 1vw;
    display: flex;
    justify-content: space-between;
}

.faq-4 p {

    color: black;
    font-size: 1.8vw;
    font-weight: 600;
    text-align: left;
}

.faq4 .minus {
    display: none;
    padding: 0.5vw;
    width: 2vw;
    height: 1.2vw;
}

.faq4 img {
    width: 0.7vw;
    height: 0.7vw;
}



.part-9 {
    position: relative;
    bottom: -12vw;
    margin: auto;
    background-color: white;
    display: flex;
    box-shadow: 0vw 1.56vw 1.04vw 0vw rgba(47, 21, 135, 0.15);
    width: 59.375vw;
    height: 18.23vw;
    gap: 2vw;
    border-radius: 1.04vw 0vw 0vw 0vw;
    opacity: 0px;
    padding: 2vw;


}

.part-9 .img-9 {
    width: 19.42vw;
    height: 22.14vw;
    position: relative;
    top: -5.98vw;

}

.part-9 .part-9-1 span {

    font-size: 0.625vw;
    font-weight: 500;
    line-height: 1.0625vw;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgb(24, 159, 205);
}

.part-9 .part-9-1 img {
    width: 0.83vw;
    height: 0.315vw;
}

.part-9 .part-9-1 .bold {
    margin-top: 1vw;
    color: black;
    font-size: 1.875vw;
    font-weight: 600;
    line-height: 1.875vw;
    text-align: left;

}

.simp {
    width: 23vw;
    padding: 1vw 0vw;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.42vw;
    text-align: left;
    color: rgb(136, 136, 136);
}

#email {
    padding: 1vw;
    width: 22.65vw;
    height: 3.125vw;
    border-radius: 2.6vw;
    border: 1px 0px 0px 0px;
    font-size: 0.72vw;
    font-weight: 400;
    line-height: 1.24vw;

    color: rgb(139, 138, 139);


    border: 0.053vw solid rgb(196, 198, 205)
}

.but {
    width: 7.39vw;
    box-sizing: border-box;
    height: 3.125dvw;

    padding: 0.83vw 1.82vw;

    border-radius: 1.6vw;
    border: none;
    opacity: 0px;
    background: rgba(24, 159, 205, 1);

    font-size: 0.83vw;
    font-weight: 500;
    line-height: 1.42vw;
    text-align: center;

}

.flexx {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.footer {

    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 28.44vw;
    background-image: url("ass/Footer.png");
}

.footer ul {
    align-items: center;
    padding-top: 20vw;
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 1.34vw;

}

.footer ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.1vw;
}

.footer ul li a:hover {

    color: black;

}


.footer ul img {
    width: 0.5vw;
    height: 0.6vw;
    border-radius: 50%;
}

.footer ul li a button {
    border: 0.2vw solid black;
    color: black;
    background-color: transparent;
    padding: 0.7vw;
    text-align: center;
    border-radius: 0.9vw;
    font-weight: 600;
    font-size: 1.1vw;
}

.footer ul li button:hover {
    background-color: black;
    color: white;
}


.exam-name{
   margin: 10vw auto 0vw; 
gap: 1vw;

width:95vw;

display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: auto;
}
.exam{
    
    padding: 2vw 0vw;
    border-radius: 2vw;
border: 2px solid rgba(153, 153, 153, 0.266);
}
 .name{
    margin: 0vw 1vw;
font-size: 2vw;
    font-weight: 900;
    color: black;
    
}

.explain{
    padding: 1vw 0vw;
    
    margin: 0vw 1vw;
font-size: 1.2vw;
    font-weight: 500;
    color: rgba(136, 136, 136, 1);
   
}
.last{
    grid-row-start: 4;
    grid-column-start: 2;
}


